* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

:root {
  --background-color: #f5f7fb;
  --font-family: "Inter", sans-serif;
  --font-family-2: "Karla", sans-serif;

  /* Text colors: */
  --main-text-color: #293264;

  /* Button colors */
  --main-btn-bg-color: #4d5b9e;
  --main-btn-bg-color-disabled: #8b95c6;
  --main-btn-text-color: #f5f7fb;
  --option-btn-bg-color: #d6dbf5;
  --right-option-bg-color: #94d7a2;
  --wrong-option-bg-color: #f8bcbc;
  --option-btn-border-color: #4d5b9e;
  --disabled-btn-option-border-color: rgb(77, 91, 158, 0.5);

  /* Lines */
  --stroke-color: #dbdef0;
}


body {
  height: 100%;
  background-color: var(--background-color);
  background-image: url(/blob-yellow.png), 
    url(/blob-blue.png);
  background-repeat: no-repeat;
  background-position: top right, bottom left;
  background-size: 297px 235px;
  font-family: var(--font-family);
  color: var(--main-text-color);
}

.container {
  min-height: 100vh;
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 48rem;
}

.welcome-page,
.loading-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loading-page h2 {
  font-size: 2rem;
  font-weight: 700;
}

.welcome-page h1 {
  font-family: var(--font-family-2);
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.3rem;
}

.welcome-page p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.21rem;
  margin-block-start: 0.5rem;
}

.welcome-page a {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.21rem;
  margin-block-start: 1.8rem;
  padding: 1rem 3.72rem;
  background-color: var(--main-btn-bg-color);
  color: var(--main-btn-text-color);
  text-decoration: none;
  border-radius: 0.9rem;
  border: none;
  cursor: pointer;
  transition: 250ms all ease-in-out;
}

.welcome-page a:hover,
.welcome-page a:focus {
  opacity: 0.8;
}

.quiz-page {
  padding-block-start: 2.5rem;
}

.single-question {
  padding-block-end: 0.9rem;
  border-bottom: 0.8px solid var(--stroke-color);
}

.single-question + .single-question {
  padding-block-start: 0.9rem;
}

.question {
  font-family: var(--font-family-2);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.16rem;
}

.options {
  margin-block-start: 0.75rem;
}

.option {
  font-size: 0.64rem;
  font-weight: 500;
  line-height: 0.8rem;
  border: 0.8px solid var(--option-btn-border-color);
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  margin-inline-end: 0.8rem;
  background-color: transparent;
  cursor: pointer;
}

.picked {
  background-color: var(--option-btn-bg-color);
  border: 0.8px solid var(--option-btn-bg-color);
}

.option:disabled {
  border: 0.8px solid var(--disabled-btn-option-border-color);
}

.option.correct {
  background-color: var(--right-option-bg-color);
  border: 0.8px solid var(--right-option-bg-color);
  color: inherit;
}

.option.wrong {
  background-color: var(--wrong-option-bg-color);
  border: 0.8px solid var(--wrong-option-bg-color);
}

.quiz-result {
  margin-block-start: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.main-button {
  display: block;
  font-size: 0.64rem;
  font-weight: 600;
  line-height: 0.8rem;
  color: var(--main-btn-text-color);
  background-color: var(--main-btn-bg-color);
  padding: 0.6rem 1.3rem;
  border: none;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: 250ms all ease-in-out;
  text-decoration: none;
}

.main-button:disabled {
  background-color: var(--main-btn-bg-color-disabled);
  cursor: not-allowed;
}

.quiz-result p {
  font-family: var(--font-family-2);
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 0.9rem;
}